name: Release Please
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4 # v4.2.0
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json